flows.json
[
    {
        "id": "555f87d3.614968",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1a51609d.1e79ef",
        "type": "ui_form",
        "z": "555f87d3.614968",
        "name": "",
        "label": "",
        "group": "1e1e9985.6f1306",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "BMI",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 1-19 years",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 5-9 years",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult mortality",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "g",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Diptheria",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income composition",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status",
                "value": "p",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Total expenditure",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Year",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "infant deaths",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "percentage expenditure",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "under-five deaths",
                "value": "u",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": "",
            "u": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "41b22438.17ba4c"
            ]
        ]
    },
    {
        "id": "41b22438.17ba4c",
        "type": "function",
        "z": "555f87d3.614968",
        "name": "pre token",
        "func": "//make user given variables as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f); \nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n//Following are required to recieve a token\nvar apikey = \"AEqzpwuEkZCogtvz92-XxNm6j2f__pYBdkVr--Voi9Hj\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "a6c9851b.0be518"
            ]
        ]
    },
    {
        "id": "a6c9851b.0be518",
        "type": "http request",
        "z": "555f87d3.614968",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "48cd958e.d19b8c"
            ]
        ]
    },
    {
        "id": "48cd958e.d19b8c",
        "type": "function",
        "z": "555f87d3.614968",
        "name": "send to end point",
        "func": "//get token and make headers\nvar token = \nmsg.payload.access_token;\nvar instance_id=\"a57a0488-e571-425f-912f-df15cb9b58bb\";\nmsg.headers = {'content-Type':'application/jason',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\n\n//send the user values to service end point\nmsg.payload = \n        {\"fields\":[\"BMI\",\"HIV/AIDS\",\"thinness 1-19 years\",\n        \"thinness 5-9 years\",\"Adult Mortality\",\n        \"Alcohol\",\"Country\",\"Diptheria\",\"GDP\",\n        \"Hepatitis B\",\n        \"Income composition of resources\",\n        \"Measles\",\"Polio\",\"Population\",\"Schooling\",\"Status\",\n        \"Total expenditure\",\"Year\",\n        \"infant deaths\",\"percentange expenditure\",\n        \"under-five deaths\"],\n             \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n             \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "892acfb2.007ea"
            ]
        ]
    },
    {
        "id": "892acfb2.007ea",
        "type": "http request",
        "z": "555f87d3.614968",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a57a0488-e571-425f-912f-df15cb9b58bb/deployments/02620da5-5943-4e0b-89f8-2d10a4c0e13f/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "6202ca1a.98fd34",
                "3de60960.6fd9f6"
            ]
        ]
    },
    {
        "id": "6202ca1a.98fd34",
        "type": "debug",
        "z": "555f87d3.614968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "3de60960.6fd9f6",
        "type": "function",
        "z": "555f87d3.614968",
        "name": "getFrom EndPoint",
        "func": "msg.payload = msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "31904643.bb747a",
                "cfe45a83.606518"
            ]
        ]
    },
    {
        "id": "31904643.bb747a",
        "type": "debug",
        "z": "555f87d3.614968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "cfe45a83.606518",
        "type": "ui_text",
        "z": "555f87d3.614968",
        "group": "1e1e9985.6f1306",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "1e1e9985.6f1306",
        "type": "ui_group",
        "z": "",
        "name": "MachineLearning",
        "tab": "a9b8028f.938d2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a9b8028f.938d2",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "Machine Learning",
        "disabled": false,
        "hidden": false
    }
]